
{% extends "base.html"%}
{% load my_markdown %}
{% block content%}
<div class="content pure-u-1 pure-u-md-3-4">
        <div>
          <div class="posts">
            <h1 class="content-subhead">Pinned Post</h1>

            <section class="post">
              <header class="post-header">
                <h2 class="post-title"><a href="javascript:void(0)">About Me</a></h2>

              </header>
              <div class="post-description">
                <p>
                 My name is ........
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
{% endblock%}