<!--&lt;!&ndash; 多说评论框 start &ndash;&gt;-->
<div class="pure-u-1 pure-u-md-2-3 ds-thread " data-thread-key="{{post.id}}" data-title="{{post.title}}" data-url="{{post.get}}"></div>
<!--&lt;!&ndash; 多说评论框 end &ndash;&gt;-->
<!-- 多说公共JS代码 start  -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"youzhigang"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
<!--&lt;!&ndash; UY BEGIN &ndash;&gt;-->
<!--<div id="uyan_frame"></div>-->
<!--<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js"></script>-->
<!--&lt;!&ndash; UY END &ndash;&gt;-->
