{% extends "base.html"%}
{% load my_markdown %}

{% block content%}
<div class="content pure-u-1 pure-u-md-3-4">
        <div>
          <div class="post">
            <h1 class="content-subhead">Pinned Post</h1>
            <section class="post">
              <header class="post-header">
                <h2 class="post-title"><a>{{post.title}}</a></h2>
                <p class="post-meta">
                  Tag <a href="javascript:void(0)" class="post-author">{{post.category}}
                  </a> Time <a class="post-category  post-category-yui" href="javascript:void(0)">{{post.date_time|date:'Y/m/d'}}</a>
                </p>
              </header>
              <div class="post-description pure-u-1 ">
                <p>
                 {{post.content|my_markdown}}
                </p>
              </div>
            </section>
          </div>
            {% ifnotequal post.id 1 %}
            <a href="{% url 'd' id=post.id|add:'-1' %}" class="button-success pure-button">PREV</a>
            {% endifnotequal %}
            {% ifnotequal post.id count %}
            <a href="{% url 'd' id=post.id|add:'1' %}" class="button-success pure-button">NEXT</a>
            {% endifnotequal %}
        </div>
    <div  ><!--多说div-->
    {% include 'devduoshuo.html'%}
    </div>
      </div>
{% endblock%}