{% extends "base.html"%}
{% load my_markdown %}
{% block content%}
<main class="col-md-8">
  <div class="col-md-4 col-sm-5 col-xs-8 pull-right">
    <a href="{% url 'single' id=1  f='1'%}" class="btn btn-default">&lt;&lt;</a>
      {% ifnotequal post.id 1 %}
      <a href="{% url 'single' id=post.id|add:'-1'  f='p'%}" class="btn btn-default">&lt;&lt; PREV</a>
      {% endifnotequal %}
      {% ifnotequal post.id count %}
      <a href="{% url 'single' id=post.id|add:'1'  f='n'%}" class="btn btn-default">NEXT &gt;&gt;</a>
      {% endifnotequal %}
      <a href="{% url 'single' id=count  f='1'%}" class="btn btn-default">&gt;&gt;</a>
  </div>
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a>{{post.title}}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{post.category}}</a></span>
                <span class="post-date"><a href="#">{{post.date_time|date:"Y /m /d"}}</a></span>
                <!--<span class="post-author"><a href="#">Albert Einstein</a></span>-->
                <!--<span class="comments-link"><a href="#">4 Comments</a></span>-->
            </div>
        </header>
        <div class="entry-content clearfix">
            <p> {{post.content|my_markdown}}</p>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-8 pull-right">
            <a href="{% url 'single' id=1  f='1'%}" class="btn btn-success">&lt;&lt;</a>
            {% ifnotequal post.id 1 %}
            <a href="{% url 'single' id=post.id|add:'-1'  f='p'%}" class="btn btn-success">&lt;&lt; PREV</a>
            {% endifnotequal %}
            {% ifnotequal post.id count %}
            <a href="{% url 'single' id=post.id|add:'1'  f='n'%}" class="btn btn-danger">NEXT &gt;&gt;</a>
            {% endifnotequal %}
            <a href="{% url 'single' id=count  f='1'%}" class="btn btn-success">&gt;&gt;</a>
        </div>
    </article>

    {% include 'devduoshuo.html'%}
</main>
{% endblock %}
